alias be='bundle exec'
alias first_and_last='sed -e 1b -e \'$!d\''
alias gi=git
alias gti=git
alias awake='caffeinate -dims'
alias rs='ruby -run -e httpd . -p 5000'
alias seinfeld='curl -sL "$SEINFELD_URL" | sed \'3q;d\' | xargs -n 1 open -a "Google Chrome"'
alias the_office='curl -sL "$OFFICE_URL" | sed \'5q;d\' | xargs -n 1 open -a "Google Chrome"'
alias mlb='curl -sL "$MLB_URL" | sed \'7q;d\' | xargs -n 1 open -a "Google Chrome"'
alias unwip='git reset --soft HEAD^'
alias vi=nvim
alias vim=nvim
alias vpl="env FORCE_LOCAL_PACT='$1' RAILS_ENV=test bundle exec rake pact:verify"
alias whitespace="sed -i '' -E 's/[[:space:]]*\$//' **/*.rb" #find ./ -type f -name '*.rb' -exec sed -i '' -E 's\/[[:space:]]*\$\/\/' {} \;"
alias start-db-tunnel="ssh -i $TUNNEL_SSH_KEY -NvL 5434:$TUNNEL_DB_SERVER:5432 $TUNNEL_EXTERNAL_SERVER"
alias psql-tunnel="psql -h localhost -p 5433 -U $TUNNEL_DB_USER -d $TUNNEL_DB"
alias rtw='fswatch lib test | mix test --listen-on-stdin'
alias nas="ssh -p 2202 $HOME_USER@home.local"
alias remote-plex="ssh -p $HOME_SSH_PORT -vNL 32400:localhost:32400 $HOME_USER@$HOME_HOST"
alias calendar='python -c "import calendar; import sys; from datetime import date; print(calendar.calendar(int(sys.argv[1]) if len(sys.argv) > 1 else date.today().year))" $1'
alias weather='curl wttr.in'
alias changelog='git log --pretty=format:\"- %ad %B\" \
                 --grep=\"^Bump\" \
                 --invert-grep \
                 --date=short $(git describe --tags --abbrev=0)..HEAD'
