alias be='bundle exec'
alias endurance='ssh -L 5000:localhost:5000 -L 4000:localhost:4000 bnr@endurance.local'
alias first_and_last='sed -e 1b -e \'$!d\''
alias gi=git
alias gti=git
alias rs='ruby -run -e httpd . -p 5000'
alias unwip='git reset --soft HEAD^'
