*.DS_Store
/.CFUserTextEncoding
/.Trash
/.Xauthority
/.adobe
/.anyconnect
/.bash_history
/.cache
/.config
/.cups
/.dropbox
/.fontconfig
/.gem
/.gitk
/.guard_history
/.ievms
/.irb-history
/.lesshst
/.mitmproxy
/.mysql_history
/.npm
/.nvm
/.pgadmin_histoqueries
/.pgpass
/.pry_history
/.psql_history
/.rnd
/.rvm
/.secrets
/.sh_history
/.sqlite_history
/.ssh
/.subversion
/.the-stable
/.tmuxinator
/.vagrant.d
/.vim
/.viminfo
/.wireshark-etc
/.wireshark
/.zcompdump
/.zsh-update
/.zsh_history
/Calibre Library
/Desktop
/Documents
/Downloads
/Dropbox
/Dynetics
/Emulation
/GitHub
/Library
/Movies
/Music
/Pictures
/Projects
/Public
/School
/Sites
/VirtualBox VMs
/bin/keep-lively.sh
/bin/reattach-to-user-namespace
/bin/the-stable
/bin/subl
/paros
/pgadmin.log
/mm.cfg
