*.DS_Store
/.CFUserTextEncoding
/.Drobo_Dashboard_installer_os_version_check_log.txt
/.Trash
/.Xauthority
/.adobe
/.anyconnect
/.bash_history
/.cache
/.camper_van
/.cocoapods
/.config
/.cups
/.dropbox
/.dvdcss
/.dropbox-master
/.fontconfig
/.fop
/.gem
/.gist-vim
/.gitk
/.guard_history
/.heroku
/.hitch_export_authors
/.hitch_pairs
/.hitchrc
/.ievms
/.io_history
/.irb-history
/.junique
/.lesshst
/.mitmproxy
/.mysql_history
/.netrc
/.ngrok
/.node-gyp
/.npm
/.nvm
/.pgadmin_histoqueries
/.pgpass
/.pry_history
/.psql_history
/.rediscli_history
/.rnd
/.rubies
/.rvm
/.secrets
/.sh_history
/.sqlite_history
/.ssh
/.subversion
/.swipl-dir-history
/.the-stable
/.thestable
/.tmuxinator
/.vagrant.d
/.vim/_backup
/.vim/_temp
/.vim/.netrwhist
/.viminfo
/.wireshark-etc
/.wireshark
/.zcompdump*
/.zsh-update
/.zsh_history
/Applications
/Calibre Library
/Code
/Desktop
/Documents
/Downloads
/Dropbox
/Dynetics
/Emulation
/Gemfile.lock
/Google\ Drive
/Library
/Millers Remote Suite Resources
/Movies
/Music
/Pictures
/Public
/School
/Sites
/Things
/VirtualBox VMs
/bin/keep-lively.sh
/bin/ngrok
/bin/reattach-to-user-namespace
/bin/the-stable
/bin/speedtest-cli
/bin/subl
/btsync
/exit.log
/paros
/pgadmin.log
/src
/mm.cfg
!.gitkeep
