*.DS_Store
/.CFUserTextEncoding
/.Trash
/.adobe
/.bash_history
/.cache
/.cups
/.dropbox
/.gem
/.gitk
/.guard_history
/.ievms
/.irb-history
/.lesshst
/.pgpass
/.pry_history
/.psql_history
/.rvm
/.sh_history
/.sqlite_history
/.ssh
/.tmuxinator
/.vim/.netrwhist
/.viminfo
/.zcompdump
/.zsh-update
/.zsh_history
/Desktop
/Documents
/Downloads
/Dropbox
/Emulation
/GitHub
/Library
/Movies
/Music
/Pictures
/Public
/School
/Sites
/VirtualBox VMs
/pgadmin.log
