[user]
  name = Jay Hayes
  email = ur@iamvery.com
[core]
  editor = vim
  excludesfile = /Users/jay/.gitignore.global
  pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
[diff]
[color]
  ui = auto
  diff = auto
  status = auto
[push]
  default = current
[alias]
  st = status -sb
  ci = commit
  co = checkout
  cp = cherry-pick
  di = diff
  dc = diff --cached
  dx = diff --no-prefix -U1000
  amend = commit --amend
  aa = add --all
  ff = merge --ff-only
  pullff = pull --ff-only
  noff = merge --no-ff
  fa = fetch --all
  pom = push origin master
  b = branch
  dh1 = diff HEAD~1
  ti = update-index --assume-unchanged
  nti = update-index --no-assume-unchanged
  pop = stash pop
  head = !git l -1
  pr = config --add remote.origin.fetch +refs/pull/*/head:refs/remotes/origin/pr/*
  p = push --set-upstream
  pf = push --set-upstream --force-with-lease
  rc = rebase --continue
  ra = rebase --abort

  # Logging
  h = !git head
  r = !git l -30
  l = log --graph --abbrev-commit --pretty=oneline --decorate
[github]
  user = iamvery
[heroku]
	account = bnr
[commit]
	verbose = true
[pull]
	ff = only
